.nv-cn-01 {
  display: flex;
  gap: 4rem;
}

.nv-cn-main {
  background-color: rgb(115, 147, 115);
  color: white;
  height: 40px;
  width: 100%;
}

.nv-cn {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

.nv-cn-con {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.nv-cn-02 {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.fa {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
