.ft-main {
  background-color: rgb(152, 152, 152);
  color: white;
}

.ft-con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 212px;
  width: 65%;
  margin: 0 auto;
}

.ft-imgs {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ft-img {
  width: 150px;
}

.ges-img {
  width: 120px;
}

p {
  margin: 0;
}

h4 {
  margin: 0;
  margin-bottom: 20px;
  font-size: x-large;
  color: yellow;
}

.socials {
  display: flex;
  gap: 1rem;
}
.socials:hover {
  opacity: 0.6;
}
