.hp-content {
  width: 100%;
  height: 100vh;
}

.hp-01 {
  width: 100%;
  /* height: 100vh; */
  position: relative;
  top: 100px;
  margin-bottom: 50px;
  z-index: 10;
}

.hp-vision {
  width: 70%;
  margin: 0 auto;
  box-shadow: 5px 5px 20px #888888;
  margin-bottom: 100px;
  position: relative;
  z-index: 20;
  background-color: white;
}
.hp-v01 {
  position: fi;
  display: flex;
  gap: 3rem;
  margin: 0 auto;
  padding: 0 100px;
  height: 150px;
  justify-content: space-between;
  align-items: center;
}

.hp-v01-01,
.hp-v01-02,
.hp-v01-03,
.hp-v01-04 {
  display: flex;
  gap: 0.6rem;
  font-size: 20px;
}

.hp-v01-01 span,
.hp-v01-02 span,
.hp-v01-03 span,
.hp-v01-04 span {
  font-size: 50px;
  color: green;
}

.hp-v01-01 p:nth-child(2),
.hp-v01-02 p:nth-child(2),
.hp-v01-03 p:nth-child(2),
.hp-v01-04 p:nth-child(2) {
  opacity: 0.5;
  font-size: 19px;
}

.hp-ad01 {
  display: flex;
  background-color: rgb(115, 147, 115);
}

.hp-ad01 img {
  width: 660px;
}

.ad-02 {
  padding: 50px;
  font-size: larger;
  color: white;
  /* background-image: url("/public/sch-imgs/img-3.JPG"); */
  background-size: cover;
}

.ad-02-1 p {
  margin-bottom: 100px;
}

.hp-metrics {
  display: flex;
  /* height: 70px; */
}

.metrics {
  margin-bottom: 100px;
}
.met-01 {
  width: 630px;
  height: 300px;
  background-color: rgb(115, 147, 115);
  border: 1px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.met-02 {
  width: 630px;
  height: 300px;
  background-color: rgb(115, 147, 115);
  border: 1px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  font-size: 90px;
}

.met-01 img,
.met-02 img {
  width: fit-content;
  height: inherit;
}

.ln-m {
  margin-bottom: 50px;
}

.hp-learn {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.about-hm {
  width: 100%;
  height: 608px;
  background-image: url("/public/sch-imgs/img-4.jpg");
  background-size: cover;
  background-position: top 30% center;
  background-origin: content-box, padding-box;
}

.ab-hm-t {
  /* width: 100%; */
  height: 608px;
  opacity: 0.9;
  background-color: rgb(115, 147, 115);
}
.ab-hm-t {
  display: flex;
  padding: 0 200px;
  color: white;
  align-items: center;
}

.ab-hm-1 {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  opacity: 1;
}

.ab-hm-1 img {
  width: 300px;
}

.ab-hm-2 {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  font-size: 25px;
  opacity: 1;
}

.quicks {
  display: flex;
  justify-content: space-evenly;
  gap: 0;
  height: 500px;
  padding: 0 300px;
  padding-top: 50px;
}

.quicks-1 {
  display: flex;
  flex-direction: column;
  flex: 0.6;
}

.quicks-1 h3 {
  font-size: 30px;
}
.quicks-1 a {
  margin-bottom: 40px;
  text-decoration: none;
  color: rgb(115, 147, 115);
}
.quicks-1 a:hover {
  color: aqua;
}

.quicks-1 img {
  width: 200px;
  margin-bottom: 30px;
}
.quicks-1 p {
  font-size: large;
  margin-bottom: 30px;
  font-weight: bolder;
  width: 200px;
}
.quicks-1 h3 {
  margin: 0;
}
.quicks-2 {
  display: flex;
  flex-direction: column;
  flex: 0.4;
}

.quicks-2 h3 {
  font-size: 30px;
  margin: 0;
}

.quicks-2 li {
  font-size: 20px;
  padding-bottom: 20px;
  list-style-type: none;
}

.quicks-2 ul {
  padding: 0;
}

.quicks-2 a {
  color: black;
  text-decoration: none;
}
.quicks-2 a:hover {
  color: aqua;
}

.underline {
  background-color: rgb(115, 147, 115);
  height: 2px;
  width: 250px;
}
